In [ ]:
#pip install -U scikit-learn

In [ ]:
import numpy as np
import pandas as pd
#instaling the packages from the libraries

In [ ]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv') 
#reading the dataset of tmdb movies and credits

In [ ]:
movies.head(1)
#seeing the 1st row data of the dataset movies

In [ ]:
credits.head(1)
#seeing the 1st row data of the dataset credits.

In [ ]:
credits.head()['crew'].values
#checking the values of the credits dataset and feature crew where mentoned all about the crew information

In [ ]:
#now we have to merge the dataset...... we can do on the basis of the coloumn =...... here we can do on the basis of the title and id..... so we will do with title
movies = movies.merge(credits,on='title')

In [ ]:
#checking the shape of the merged dataset.
movies.shape

In [ ]:
# now we will remove the column which wont help us in creating the title
#as we will create tags in the last so popularity wont be helpful.
# can we add release date also as same it is also numerical so over workflow will not work with this so have to try something new will see later.
# we will keep these column: genres id keywords title overview cast crew

In [ ]:
movies.info()

In [ ]:
movies['original_language'].value_counts()

In [ ]:
movies = movies[['movie_id','title','overview','genres','keywords','cast','crew']]

In [ ]:
#so now here is the dataframe on which we will work from now.
movies.head()

In [ ]:
# now we will have a new dataframe which will have only 3 column which will have only movie-id and title and tag.
# so for this we will merge all column overview genres keyword cast and crew and will get the tag column.
#for this we can add all the genres in the overview like action adventure.... and will add all top 3 cast and in the crew we wll addjust diro.

In [ ]:
#lets check if any data is missing in the dataset for any column
movies.isnull().sum()
#we dont have the overview for 3 movies. so we have to remove those.

In [ ]:
movies.dropna(inplace=True)

In [ ]:
movies.duplicated().sum()

In [ ]:
#now lets check about the genres column and lets see how it look like
movies.iloc[0].genres

In [ ]:
#this all we need in just the tags of genres like :-
# ['Action', 'Adventure', 'Fantasy', 'Scifi']

In [ ]:
# so we imported this librarey for this use to liost all the data
import ast
#ast.literal_eval('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [ ]:
def convert(obj):
    L= []
    for i in ast.literal_eval(obj):
        L.append(i['name'])
    return L

In [ ]:
# now here we can see is this is a object with strings and if we will try this function just for the view lets check.\
#convert('[{"id": 28, "name": "Action"}, {"id": 12, "name": "Adventure"}, {"id": 14, "name": "Fantasy"}, {"id": 878, "name": "Science Fiction"}]')

In [ ]:
#by this we got our genres column sorrted and we can see it is clearly visible that all the type are directly visible in the main dataframe
movies['genres'] = movies['genres'].apply(convert)
movies.head()

In [ ]:
#by this we got our keywords column sorted and we can see it is clearly visible that all the keywords are directly visible in the main dataframe
movies['keywords'] = movies['keywords'].apply(convert)
movies.head()

In [ ]:
movies['cast'][0]

In [ ]:
#so we can see there is a lot of list for the 1st column itself and we need only the top 3 casts for the movie so we will apply the function and we will make it suitable for the dataset
def convert3(obj):
    L= []
    counter = 0
    for i in ast.literal_eval(obj):
        if counter != 3:
            L.append(i['name'])
            counter +=1
        else:
            break
    return L

In [ ]:
#by this we got our cast column sorted and we can see it is clearly visible that all the top 3 casts are directly visible in the main dataframe
movies['cast'] = movies['cast'].apply(convert3)
movies.head()

In [ ]:
movies['crew'][0]
#again here we can see that crew section is more puzzled and we need to sort just on the basis of the name which have the job title director

In [ ]:
movies['cast'].apply(lambda x:x[0:3])

In [ ]:
#here we keep the function by which we will sepreate the name of the director of the movie
def fetch_director(obj):
    L= []
    for i in ast.literal_eval(obj):
        if i['job']== 'Director':
            L.append(i['name'])
            break
    return L

In [ ]:
#by this we got our crew column sorted and we can see it is clearly visible that the director name is directly visible in the main dataframe
movies['crew'] = movies['crew'].apply(fetch_director)

In [ ]:
movies.head()

In [ ]:
#now we need our overview section as the string so we can genreate the paragraph and solve the problem of the overview so for that we will just split the string for the overview section
movies['overview'][0]

In [ ]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [ ]:
movies.head()

In [ ]:
movies.sample(5)

In [ ]:
# so now the problem is that all these 4 colummn needed to be apllied a transformation wo we can remove all the spaces in between the names like 'Sam Worthington' so we have to make it as the 'Sam Worthington'
# because it will make two diferent tags and here it will create problem when somewhat similar name will come like sam Mendes so we have to remove the space

In [ ]:
movies['genres'] = movies['genres'].apply(lambda x:[i.replace(" ","") for i in x])
movies['keywords'] = movies['keywords'].apply(lambda x:[i.replace(" ","") for i in x])
movies['cast'] = movies['cast'].apply(lambda x:[i.replace(" ","") for i in x])
movies['crew'] = movies['crew'].apply(lambda x:[i.replace(" ","") for i in x])

In [ ]:
# def collapse(L):
#     L1 = []
#     for i in L:
#         L1.append(i.replace(" ",""))
#     return L1

In [ ]:
# movies['cast'] = movies['cast'].apply(collapse)
# movies['crew'] = movies['crew'].apply(collapse)
# movies['genres'] = movies['genres'].apply(collapse)
# movies['keywords'] = movies['keywords'].apply(collapse)
# movies.head()

In [ ]:
movies.head()

In [ ]:
movies['tags'] = movies['overview'] + movies['genres'] + movies['keywords'] + movies['cast'] + movies['crew']

In [ ]:
movies.head()

In [ ]:
new_df = movies[['movie_id','title','tags']]

In [ ]:
new_df

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:" ".join(x))
new_df.head()

In [ ]:
new_df['tags'][0]

In [ ]:
new_df['tags'] = new_df['tags'].apply(lambda x:x.lower())

In [ ]:
new_df.head()

In [ ]:
#here are few issues
# like actor and actors are same but it is showing these simillar words
# so for this we will apply stearming of the words and

In [ ]:
pip install nltk

In [ ]:
import nltk

In [ ]:
# ['loved','love','loving']
# ['love','love','love']

In [ ]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [ ]:
def stem(text):
    y = []
    for i in text.split():
        y.append(ps.stem(i))

    return " ".join(y)

In [ ]:
ps.stem('loving')

In [ ]:
stem('in the 22nd century, a paraplegic marine is dispatched to the moon pandora on a unique mission, but becomes torn between following orders and protecting an alien civilization. action adventure fantasy sciencefiction cultureclash future spacewar spacecolony society spacetravel futuristic romance space alien tribe alienplanet cgi marine soldier battle loveaffair antiwar powerrelations mindandsoul 3d samworthington zoesaldana sigourneyweaver jamescameron')

In [ ]:
new_df['tags'] = new_df['tags'].apply(stem)

In [ ]:
new_df['tags'][0]

In [ ]:
new_df['tags'][1]

In [ ]:
#So now its time to do vectorization but how.....?
#so here we will do by the simplest method which is called Bags of words.
#for this we will use the library sk-learn in which function is countvectorizer sklearn ref: https://scikit-learn.org/stable/modules/generated/sklearn.feature_extraction.text.CountVectorizer.html

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
#here we will use the function CountVectorizer and as parameter we will use the max_features and stopwords which are from english language
cv = CountVectorizer(max_features=5000,stop_words='english')

In [ ]:
vectors = cv.fit_transform(new_df['tags']).toarray() #converting explicity into a numpy array bcz this function wil return us a sci-pi sparse matrix and we need numpy array so we wll convert it

In [ ]:
vectors.shape

In [ ]:
vectors

In [ ]:
vectors[0] # here are so many zeros thats why we called it as sparse matrix and we will find number under the words in whcih the words of this movie lie

In [ ]:
#by this class we can see whih are these 5000 freq words by this all
len(cv.get_feature_names_out())

In [ ]:
cv.get_feature_names_out()
#these aree all those 5000 words which came max times in our courpus

In [ ]:
#so now we will find the distance between two movies and like this for each movie to each movie we have to find the distance......
# and we wont use the euclidean distance bcz in high dimensity it is failing so much so we will use the cosine distance and again we will use the existing function for the same

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity = cosine_similarity(vectors)

In [ ]:
cosine_similarity(vectors).shape
# so here we got all 4806 movies distance from rest 4806 movies

In [ ]:
similarity[0]
# so here it is similarity of first movie with all other and u can see that 1st value is 1 bcz it is showing that it is same with this movie 
# so like this all the diag value fro the 4806x4806 matrix will be 1

In [ ]:
similarity[1]

In [ ]:
# so now we will make a function which will tell us about the most close or most similar 5 movie to the listed one
# for this we will first find the index for the movie and then will we go the that index's similarity matrix which will tell us the similarity of that
# movie from other movies and then we will sort the matrix and we will get the top 5 similar movie from that......
# remember there will be always the same movie also with the 1 similarity so we have to leave that and we have to find the other movies which are similar
# to that movie

In [ ]:
#so this is the dataset and in this we have to find the index of the titled movie
new_df

In [ ]:
#here it is the column of the titles of the movie and the indexing with it
new_df['title']

In [ ]:
#and here we will get the index of the movie for example if we will go for the avatar movie then its index will be 0
new_df[new_df['title'] == 'Avatar'].index[0]

In [ ]:
new_df[new_df['title'] == 'Batman Begins'].index[0]

In [ ]:
list(enumerate(similarity[0]))
#like this we will get the list of tuple which telling us the similarity of the 0th index movie with other index movie and now we have to sort

In [ ]:
#here we did sorted on the basis of the 2nd index not on the first basis and in the decending order
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])

In [ ]:
# and now we will take 1-6 total 5 items from the sorted list for this we will do this
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:6]

In [ ]:
# for i in movies_list:
#         print(i[0])
#so here by this we got the movie id and now it is easy to fetch the movie name bcz these id wont help us about movies

In [ ]:
new_df.iloc[1216].title

In [ ]:
def recommend(movie):
    movie_index = new_df[new_df['title'] == movie].index[0]
    distances = similarity[movie_index]
    #now we have to sort this movie according to the similarity. but problem is if we will sort then it will lose the index..... so we have to hold the
    #index for that we will call the enumerate function which will give us the tuple with index
    movies_list = sorted(list(enumerate(distances)),reverse=True, key=lambda x:x[1])[1:6]

    for i in movies_list:
        print(new_df.iloc[i[0]].title)

In [ ]:
recommend('Avatar')